html {
  margin: 0;
  padding: 0;
}
.mob-nav{
  display: grid;
  width: 100%;
  grid-template-columns:10% 83% 7% ;
  box-shadow:  0 3px  rgb(248, 244, 244);
}
.logo img{
  background-color: black;
  width: 80px;
  height: 30px;
  padding: 10px;
}
.logo{
  display: flex;
  align-items: center;
  justify-content: start;
  width: 100%;
}
.search{
  display: flex;
  align-items: center;
  justify-content: end;
  width: 45px;
  justify-self: end;
}
.search-img{
  padding: 0 10px 0 10px;
  border-left:1px solid rgb(218, 206, 206);
  border-right:1px solid rgb(179, 174, 174);
}

.search-img img{
  rotate: 90deg;
}
.search-img:hover{
  background-color: rgb(241, 235, 235);
}
 .menu-line{
  background-color:rgb(245, 31, 31);
  height: 2px;
  margin: 3px;
  width: 20px;
 
}
.mob-menu{
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
  padding: 0 10px 0 10px;
}

.nav-items-second ul {
  list-style: none;
}

.nav-items-second ul li{
  display: inline-block;
  margin: 0 5px 0 5px;
}

.mobile-menu-page{
  width: 100%;
  background:linear-gradient(to bottom right,#c09,#f42 85%);
  position: absolute;
  z-index: 1;
}

.icons{
  display: flex;
  list-style: none;
  width: 100%;
  border-top: 1px solid hsla(0,0%,100%,.15);
  border-bottom: 1px solid hsla(0,0%,100%,.15);
  align-items: center;
}

.icons li{
  margin: 20px;
  font-size: large;
}

.icons li a{
  color: #fff;
}

.close-page{
  display: grid;
  grid-template-columns: auto;
  width: 100%;
  height: 30px;
}

.close-page .menu-close{
  position: relative;
   background-color:rgb(245, 31, 31);
  height: 2px;
  margin: 3px;
  width: 20px;
  background: white;
  justify-self: end;
  
}
.symb_1{
  transform: rotate(45deg) translate(-10px,20px);
}
.symb_2{
  transform: rotate(-45deg) translate(-10px,-20px);
}

.mobile-menu-items{
  display: flex;
  justify-content:space-evenly;
}

.section-list li{
  list-style: none;
  color: #fff;
}

.section-list h4{
  text-transform: uppercase;
  font-size: 15px;
}

.section-list li a{
  color: #fff;
  margin-top: 10px;
  text-decoration: none;
}

@media only screen and (max-width:768px){
.nav-items-second {
  display: none;
}

}

@media only screen and (min-width:768px) and (max-width:1024px){
 .nav-items-second{
   display: block;

 }
 
.mob-menu{
 display: none;
}
.nav-items-second .laptop-only{
  display: none;
}

  
}
@media only screen and (min-width:1024px){

.nav-items-second .laptop-only{
  display: inline-block;
}
.mob-menu{
 display: none;
}

}